# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# Vector Database
chroma_db/

# Logs
logs/

# Feedback
feedback_data/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/